@{
    ViewBag.Title = "Aggiungi Nuovo Corso";
}
<div class="text-warning">
    @ViewBag.Message
</div>

<div class="jumbotron">
    <p class="lead">Compila il corso</p>
    @using(Html.BeginForm("AddCorso","Home",FormMethod.Post)) {
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="_nome" placeholder="Nome" required/>
            </div>
        </div>
        <br />
        <div class="row" >
            <div class="col-md-12">
                <textarea name="_descrizione" rows="3" cols="50" maxlength="140" required placeholder="Inserisci qui la descrizione..."></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <input type="date" name="_inizio" placeholder="Inizio" required/>
            </div>
            <div class="col-md-4">
                <input type="date" name="_fine" placeholder="Fine" required/>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-default" value="Inserisci corso" />
            </div>

        </div>
    }
</div>

