
@{
    ViewBag.Title = "ElencoCorsi";
}

<h1>
    ElencoCorsi
</h1>

<h1>ElencoCorsi</h1>
<body>
     @ViewBag.Message;
    <div>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <input type="text" placeholder="Search..">
        </div>
    </div>
</body>



