@{
    ViewBag.Title = "Aggiungi Giorno";
}
<h2>@ViewBag.Title:</h2>
<p>Menù a tendina...</p>


<div>
    @*string dataTime, string ore, string idCommessa, string idUtente*@
    @using (Html.BeginForm("AddGiorno", "Home", FormMethod.Post)) {
        <div class="Conteiner">
            <input type="date" name="dataTime" />
        </div>

    </div>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>