@{
    ViewBag.Title = "Aggiungi Giorno";
    
}
<h2>@ViewBag.Title:</h2>
<br><br>
<div>
    @*string dataTime, string ore, string idCommessa, string idUtente*@
    @using (Html.BeginForm("AddGiorno", "Home", FormMethod.Post)) {
    <div class="Conteiner">
        Data           <input type="date" name="dataTime" />
        <br><br>
        <form method="get">
            Tipologia Ore
            <input list="HType" name="tipoOre">
            <datalist id="HType">
                <option value="Ore di lavoro">
                <option value="Ore di permesso">
                <option value="Ore di ferie">
                <option value="Ore di malattia">
            </datalist>
        </form>
        <br><br>
        Nome Commessa <input type="text" name="Commessa" value=" - - - " />
        <br><br>
        Numero Ore:    <input type="number" name="ore" />
        <br><br>
        <input type="submit" name="caricaOre" value="Carica Ore" />
        <br><br>
    </div>
    }
</div>
<br><br>
    <p>@ViewBag.EsitoAddGiorno</p>
<br><br>