@{
    ViewBag.Title = "GeTime Home";
}
<h2>@ViewBag.Title</h2>
<div class="text-danger container">
    <h4>@ViewBag.Message</h4>
</div>

<div class="jumbotron">
    <h1 style="font-size:xx-large">GeTime - Sito per la Gestione del registro</h1>
    <p class="lead">GeTime ti permette di gestire il tuo registro di attivita' lavorative!</p>
    <div class="row">
        <p class="col-md-3"><a href="/Home/AddGiorno" class="btn btn-primary btn-lg">Compila il Giorno</a></p>
        <p class="col-md-3"><a href="/Home/VisualizzaGiorno" class="btn btn-primary btn-lg">Vissulizza Giorno</a></p>
        <p class="col-md-3"><a href="/Home/VisualizzaMese" class="btn btn-primary btn-lg">Vissulizza Mese</a></p>
        <p class="col-md-3"><a href="/Home/VisualizzaCommessa" class="btn btn-primary btn-lg">Vissulizza Commessa</a></p>
    </div>
</div>

<div class="row">
    <h2>Descrizione funzionalità GeTime</h2>
    <div class="col-md-3">
        <h2>Compila il Giorno</h2>
        <p>Questa funzionalita' ti permette di compilare il registro dei giorni lavorativi.</p>
    </div>
    <div class="col-md-3">
        <h2>Visualizza Giorno</h2>
        <p>
            Questa funzionalita' ti permette di visualizzare il singolo giorno, con il dettaglio delle ore lavorative (con relative
            commesse) e non lavorative.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Visualizza Mese</h2>
        <p>
            Questa funzionalita' ti permette di visualizzare il dettaglio di un mese e i relativi giorni di lavoro e ferie (i giorni 
            potranno anche essere selezionati nel dettaglio).
        </p>
    </div>
    <div class="col-md-3">
        <h2>Visualizza Commessa</h2>
        <p>Questa funzionalita' ti permette di visualizzare i giorni in cui hai svolto una determinata commessa.</p>
    </div>
</div>