
@{
    ViewBag.Title = "Modifica Competenza";
}

<h2>ModComp</h2>
@using(Html.BeginForm("ModificaCompetenza","Home",FormMethod.Post)) {
    <div>
        <div class="row">
            <div class="col-md-2">
                Tipo*:
            </div>
            <div class="col-md-2">
                <input id="tipo" name="tipo" type="text" value="@ViewBag.Comp.Titolo"/>
            </div>
            <div class="col-md-2">
                Livello:
            </div>
            <div class="col-md-2">
                <input id="livello"  name="livello" type="number" value="@ViewBag.Comp.Livello" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" href="/Home/DettCv/id=@ViewBag.Matricola" type="submit" value="Salva Modifiche">Torna al Dettaglio</a>
                <input id="salva" class="btn btn-default" type="submit" value="Salva Modifiche">
            </div>
        </div>
    </div>
}