
@{
    ViewBag.Title = "MyPage";
}
<div class="text-warning">
<h2>MyPage</h2>
    </div>
@using(Html.BeginForm("MyPage","Home",FormMethod.Post)) { 
<div>
    <input type="submit" value="Visualizza" />
</div>
}