
@{
    ViewBag.Title = "MyPage";
}
<div class="text-warning">
    @ViewBag.Message    
</div>
<h2>@ViewBag.Title</h2>
@using(Html.BeginForm()) { 
<div>
    <input type="submit" value="Visualizza" />
</div>
}