@{
    ViewBag.Title = "MyPage";
}
<h2>MyPage</h2>
<div class="text-warning">
    <p>@ViewBag.Message</p>
</div>

<div>
    @Html.ActionLink("Visualizza Il mio Curriculum","DettCv",new { id = "BBBB" })
</div>
