@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<div class="alert alert-warning" role="alert">
    <h3 >@ViewBag.Message</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading">ViewBag.Data</div>
    <table class="table">

    </table>
</div>