
@{
    ViewBag.Title = "Visulizza Commessa";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <form action="/Home/VisulizzaCommessa" method="post">
        <input type="search" name="commessa" placeholder="Inserire il nome della commessa..." size="50"/>
    </form>
</div>
@if(ViewBag.Message == null){ 
    <div class="container">
        <div class="row h4">
            <div class="col-md-3">
                Nome
            </div>
            <div class="col-md-3">
                Descrizione
            </div>
            <div class="col-md-3">
                Ore Lavorate
            </div>
        </div>
        @foreach(var giorno in ViewBag.Giorni){
            foreach(var commessa in giorno.Commesse){ 
                <div class="row h4">
                    <div class="col-md-3">
                        @commessa.Nome
                    </div>
                    <div class="col-md-3">
                        @commessa.Descrizzione
                    </div>
                    <div class="col-md-3">
                        @commessa.OreLavorate
                    </div>
                </div>
            }
        }
    </div>
}