
@{
    ViewBag.Title = "Visulizza Commessa";
}

<h2>ViewBag.Title</h2>
<div class="container">
    @using()
    <input type="text" name="commessa" placeholder="Inserire il nome della commessa..." size="50"/>
</div>
